.code_line{
    height: 18px;
    /* width: 15px; */
    display: inline;
    border-right: 2px solid white;
    animation: blink 0.8s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}